@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div>
        <h1>
            New Era Cinema
        </h1>
        <p>
            Please Register To Continue...
        </p>
    </div>
    <div>
        <tb>
            <strong>
                Registration
            </strong>
            <t
        </tb>
    </div>
</body>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
